@import "main.css";
@import "blob.css";


section.category {
    height: auto;
    /* justify-content: start; */
    gap: 10vh;
    /* padding: 20vh 0 10vh 0; */
    padding: 20vh 0 20vh 0;
    flex-wrap: nowrap;
}

.category-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-title h2 {
    color: var(--text-color);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.category-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10vh;
    /* padding: 0 10vh; */
}

.app {
    position: relative;
    height: 20vh;
    border-radius: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 5vh;
    padding: 2.5vh;
    flex-wrap: nowrap;
}


.app img {
    width: 15vh;
    height: 15vh;
    border-radius: 3.75vh;
    padding: 1.5vh;
}

.app h3 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.app.green {
    background: var(--green-bg-color);
    color: var(--green-text-color);
}

.app.green img {
    background-color: var(--green-main-color);
}

.app.yellow {
    background: var(--yellow-bg-color);
    color: var(--yellow-text-color);
}

.app.yellow img {
    background-color: var(--yellow-main-color);
}

.app.orange {
    background: var(--orange-bg-color);
    color: var(--orange-text-color);
}

.app.orange img {
    background-color: var(--orange-main-color);
}

.app.red {
    background: var(--red-bg-color);
    color: var(--red-text-color);
}

.app.red img {
    background-color: var(--red-main-color);
}

.app.purple {
    background: var(--purple-bg-color);
    color: var(--purple-text-color);
}

.app.purple img {
    background-color: var(--purple-main-color);
}