@keyframes blob-1 {

    0.0%, 100.0% {
        border-radius: 41% 59% 54% 46% / 23% 41% 59% 77%;
    }

    5.0% {
        border-radius: 25% 75% 70% 30% / 51% 46% 54% 49%;
    }

    10.0% {
        border-radius: 56% 44% 62% 38% / 77% 41% 59% 23%;
    }

    15.0% {
        border-radius: 44% 56% 54% 46% / 69% 33% 67% 31%;
    }

    20.0% {
        border-radius: 28% 72% 73% 27% / 54% 26% 74% 46%;
    }

    25.0% {
        border-radius: 23% 77% 31% 69% / 37% 33% 67% 63%;
    }

    30.0% {
        border-radius: 32% 68% 20% 80% / 36% 71% 29% 64%;
    }

    35.0% {
        border-radius: 46% 54% 52% 48% / 65% 65% 35% 35%;
    }

    40.0% {
        border-radius: 55% 45% 54% 46% / 27% 28% 72% 73%;
    }

    45.0% {
        border-radius: 79% 21% 56% 44% / 58% 32% 68% 42%;
    }

    50.0% {
        border-radius: 74% 26% 55% 45% / 63% 62% 38% 37%;
    }

    55.0% {
        border-radius: 80% 20% 45% 55% / 34% 80% 20% 66%;
    }

    60.0% {
        border-radius: 56% 44% 60% 40% / 30% 44% 56% 70%;
    }

    65.0% {
        border-radius: 61% 39% 53% 47% / 35% 66% 34% 65%;
    }

    70.0% {
        border-radius: 47% 53% 79% 21% / 55% 37% 63% 45%;
    }

    75.0% {
        border-radius: 72% 28% 69% 31% / 23% 34% 66% 77%;
    }

    80.0% {
        border-radius: 39% 61% 21% 79% / 52% 70% 30% 48%;
    }

    85.0% {
        border-radius: 52% 48% 31% 69% / 62% 57% 43% 38%;
    }

    90.0% {
        border-radius: 51% 49% 51% 49% / 51% 52% 48% 49%;
    }

    95.0% {
        border-radius: 60% 40% 72% 28% / 23% 44% 56% 77%;
    }

}

@keyframes blob-2 {

    0.0%, 100.0% {
        border-radius: 60% 40% 28% 72% / 25% 78% 22% 75%;
    }

    5.0% {
        border-radius: 30% 70% 62% 38% / 42% 63% 37% 58%;
    }

    10.0% {
        border-radius: 63% 37% 45% 55% / 39% 35% 65% 61%;
    }

    15.0% {
        border-radius: 79% 21% 66% 34% / 34% 28% 72% 66%;
    }

    20.0% {
        border-radius: 37% 63% 49% 51% / 73% 32% 68% 27%;
    }

    25.0% {
        border-radius: 65% 35% 41% 59% / 61% 45% 55% 39%;
    }

    30.0% {
        border-radius: 74% 26% 38% 62% / 55% 42% 58% 45%;
    }

    35.0% {
        border-radius: 40% 60% 75% 25% / 61% 78% 22% 39%;
    }

    40.0% {
        border-radius: 69% 31% 25% 75% / 40% 77% 23% 60%;
    }

    45.0% {
        border-radius: 62% 38% 65% 35% / 72% 56% 44% 28%;
    }

    50.0% {
        border-radius: 76% 24% 49% 51% / 46% 52% 48% 54%;
    }

    55.0% {
        border-radius: 38% 62% 72% 28% / 59% 79% 21% 41%;
    }

    60.0% {
        border-radius: 57% 43% 75% 25% / 22% 34% 66% 78%;
    }

    65.0% {
        border-radius: 50% 50% 56% 44% / 31% 36% 64% 69%;
    }

    70.0% {
        border-radius: 62% 38% 36% 64% / 59% 51% 49% 41%;
    }

    75.0% {
        border-radius: 53% 47% 77% 23% / 41% 44% 56% 59%;
    }

    80.0% {
        border-radius: 31% 69% 36% 64% / 34% 79% 21% 66%;
    }

    85.0% {
        border-radius: 66% 34% 69% 31% / 72% 49% 51% 28%;
    }

    90.0% {
        border-radius: 41% 59% 52% 48% / 45% 30% 70% 55%;
    }

    95.0% {
        border-radius: 50% 50% 64% 36% / 33% 79% 21% 67%;
    }

}

@keyframes blob-3 {

    0.0%, 100.0% {
        border-radius: 64% 36% 39% 61% / 54% 41% 59% 46%;
    }

    5.0% {
        border-radius: 62% 38% 44% 56% / 56% 41% 59% 44%;
    }

    10.0% {
        border-radius: 65% 35% 43% 57% / 54% 51% 49% 46%;
    }

    15.0% {
        border-radius: 20% 80% 23% 77% / 61% 26% 74% 39%;
    }

    20.0% {
        border-radius: 35% 65% 63% 37% / 73% 66% 34% 27%;
    }

    25.0% {
        border-radius: 54% 46% 43% 57% / 77% 70% 30% 23%;
    }

    30.0% {
        border-radius: 70% 30% 66% 34% / 77% 54% 46% 23%;
    }

    35.0% {
        border-radius: 34% 66% 24% 76% / 43% 33% 67% 57%;
    }

    40.0% {
        border-radius: 36% 64% 71% 29% / 25% 66% 34% 75%;
    }

    45.0% {
        border-radius: 59% 41% 28% 72% / 32% 25% 75% 68%;
    }

    50.0% {
        border-radius: 53% 47% 70% 30% / 73% 34% 66% 27%;
    }

    55.0% {
        border-radius: 40% 60% 55% 45% / 39% 65% 35% 61%;
    }

    60.0% {
        border-radius: 43% 57% 48% 52% / 58% 60% 40% 42%;
    }

    65.0% {
        border-radius: 40% 60% 22% 78% / 24% 33% 67% 76%;
    }

    70.0% {
        border-radius: 80% 20% 53% 47% / 33% 29% 71% 67%;
    }

    75.0% {
        border-radius: 67% 33% 60% 40% / 58% 72% 28% 42%;
    }

    80.0% {
        border-radius: 35% 65% 75% 25% / 35% 35% 65% 65%;
    }

    85.0% {
        border-radius: 35% 65% 28% 72% / 46% 28% 72% 54%;
    }

    90.0% {
        border-radius: 72% 28% 65% 35% / 55% 58% 42% 45%;
    }

    95.0% {
        border-radius: 75% 25% 58% 42% / 45% 57% 43% 55%;
    }

}