.btn-c {
    align-self: stretch;
    padding: 1.25rem 2.5rem;
    text-align: center;

    background: var(--second-bg-color);
    color: var(--second-text-color);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 0.625rem;
}

.btn-c:hover {
    background: var(--second-text-color);
    color: var(--second-bg-color);
}

.btn-c.second {
    background: var(--bg-color);
    color: var(--text-color);
}

.btn-c.second:hover {
    background: var(--text-color);
    color: var(--bg-color);
}

.btn-c.green {
    background: var(--green-main-color);
    color: var(--green-text-color);
}

.btn-c.green:hover {
    background: var(--green-text-color);
    color: var(--green-main-color);
}

.btn-c.red {
    background: var(--red-main-color);
    color: var(--red-text-color);
}

.btn-c.red:hover {
    background: var(--red-text-color);
    color: var(--red-main-color);
}

.btn-c.blue {
    background: var(--blue-main-color);
    color: var(--blue-text-color);
}

.btn-c.blue:hover {
    background: var(--blue-text-color);
    color: var(--blue-main-color);
}

.btn-c.yellow {
    background: var(--yellow-main-color);
    color: var(--yellow-text-color);
}

.btn-c.yellow:hover {
    background: var(--yellow-text-color);
    color: var(--yellow-main-color);
}

.btn-c.orange {
    background: var(--orange-main-color);
    color: var(--orange-text-color);
}

.btn-c.orange:hover {
    background: var(--orange-text-color);
    color: var(--orange-main-color);
}

.btn-c.purple {
    background: var(--purple-main-color);
    color: var(--purple-text-color);
}

.btn-c.purple:hover {
    background: var(--purple-text-color);
    color: var(--purple-main-color);
}