@import "main.css";
@import "blob.css";

.cine-content {
    display: flex;
    height: 33.75rem;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}

.cine img {
    flex: 1 0 0;
    align-self: stretch;
    width: auto;
    height: 100%;
    object-fit: cover;

    animation: blob-2 40s infinite;
}

.cine-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.675rem;
    flex: 1 0 0;
    align-self: stretch;
}

.cine-text h1 {
    color: var(--text-color);
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cine-text.second h1 {
    color: var(--second-text-color);
}

.cine-text p {
    align-self: stretch;

    color: var(--second-text-color);
    text-align: justify;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cine-text.second p {
    color: var(--text-color);
}

.cine-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 2.5rem;
}

.cine-link {
    align-self: stretch;
    margin-top: 2.5rem;
    padding: 1.25rem 2.5rem;
    text-align: center;

    background: var(--second-bg-color);
    color: var(--second-text-color);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 0.625rem;
    transition: .3s;
}

.cine-link.second {
    background: var(--bg-color);
    color: var(--text-color);
}

.cine-link:hover {
    background: var(--main-color);
    color: var(--bg-color);
}

.cine-link.second:hover {
    background: var(--second-main-color);
    color: var(--second-bg-color);
}
