@import "main.css";
@import "blob.css";

#home-content {
    gap: 12rem;
}

#home-img {
    width: 50%;
    height: 33.75rem;
    object-fit: cover;

    animation: blob-1 40s infinite;
}

#home-text {
    width: 50%;
    align-items: flex-start;
}

#home-text p {
    text-align: justify;
    color: var(--second-text-color);
}

/* BREAKPOINTS */
@media all and (max-width: 850px) {
    #home-img {
        width: 75%;
    }
    #home-text {
        width: 100%;
        align-items: center;
    }
    #home-text p {
        text-align: center;
    }
}