@import "main.css";

.home-content {
    display: flex;
    height: 33.75rem;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}

.home img,
.home svg {
    flex: 1 0 0;
    align-self: stretch;
    width: auto;
    height: 100%;
    object-fit: contain;

    border-radius: 10% 0 0 10% / 10% 0 0 10%;
}

.home svg {
    background: url("../images/00013-4185248434.png") center/cover no-repeat;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.675rem;
    flex: 1 0 0;
    align-self: stretch;
}

.home-text h1 {
    color: var(--text-color);
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home-text p {
    align-self: stretch;

    color: var(--second-text-color);
    text-align: justify;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}