@import "main.css";
@import "blob.css";
@import "buttons.css";
@import "filter-bar.css";

.cine-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 2.5rem;
}

.s-bg-s .section-content {
    flex-direction: row-reverse;
}

@media all and (max-width: 768px) {
    .s-bg-s .section-content{
        flex-direction: column;
    }
}